/* PC */
@media (min-wdith: 1024px) {
    #header .mobile-menu-btn { 
        display: none
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    
}

/* Mobile */
@media (max-width: 740px) {
    #nav > li { 
        display: block
    }
    #nav {
        display: block;
    }
    #nav .subnav {
        position: initial;
        
    }
    #nav .subnav a {
        color: #fff;
        padding: 0 41px;
        line-height: 48px;
        background-color: #333;
        border: 1px solid #ccc;
    }
    #nav > li:first-child {
        display: inline-block;
    }
    #header {
        overflow: hidden;
    }
    #header .mobile-menu-btn {
        display: block;
    }
    #header .search-btn {
        display: none;
    }

    #content .content-section {
        width: 100%;
    }
    
    #content .member-item {
        margin-top: 30px;
        width: 100%;
    }
    
    #content .member-img {
        width: 60%;
    }

    #contact .contact-form {
        margin-top: 16px;
    }

    .s-col-full {
        width: 100%;
    }
}